name: Android Build

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        abi: [arm64-v8a]
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Setup Android NDK
      uses: nttld/setup-ndk@v1
      id: setup-ndk
      with:
        ndk-version: r25c
        add-to-path: false

    - name: Set up Android SDK
      uses: android-actions/setup-android@v3

    - name: Build Android
      env:
        _BUILD_CFG: ${{ matrix.abi }} out/android/${{ matrix.abi }}/Release
        NDK_ROOT: ${{ steps.setup-ndk.outputs.ndk-path }}
      run: |
        chmod +x ./build.android
        ./build.android

    - name: Strip SO files
      env:
        NDK_ROOT: ${{ steps.setup-ndk.outputs.ndk-path }}
      run: |
        find out/android/${{ matrix.abi }}/Release -name "*.so" -exec ${NDK_ROOT}/toolchains/llvm/prebuilt/linux-x86_64/bin/llvm-strip --strip-all {} \;
        
    - name: Upload SO artifacts
      uses: actions/upload-artifact@v4
      with:
        name: libortextensions-${{ matrix.abi }}
        path: out/android/${{ matrix.abi }}/Release/**/*.so
        if-no-files-found: error

    - name: Upload AAR artifact
      uses: actions/upload-artifact@v4
      with:
        name: onnxruntime-extensions-${{ matrix.abi }}.aar
        path: out/android/${{ matrix.abi }}/Release/aar_out/*.aar
        if-no-files-found: warn

